@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>AGENDA</h1>
    <p class="lead text-center">Registra tus contactos y eventos importantes.</p>
    <button class="btn btn-default btn-lg">@Html.ActionLink("Ir a Contactos", "Index", "CONTACTOes")</button>
    <button class="btn btn-default btn-lg">@Html.ActionLink(" Ir a Eventos", "Index", "EVENTOes")</button>
</div>
